<div class="dio-bio">
    <div class="bgimg-1">
      <div class="caption">
      <span class="border">Biography</span>
      </div>
    </div>
    
    <div class="dio" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
      <h3 style="text-align:center;">Dio Brando ( ディオ・ブランドー)</h3>
      <p>When beginning the series, Dio is the character that Araki looked forward to drawing the most. He also revealed that he had not thought up a weakness for the character, and that it was difficult to come up with a way for Dio to be defeated. In regard to Dio's characterization, Araki said that he was inspired by FBI profiling of serial killers, admitting that in a way he thinks they must be incredibly strong to be able to commit the heinous crimes that they do. How serial killers control their victims through psychological manipulation interested Araki as well, a trait similar to how Dio uses his charisma to ensure his followers to do his bidding. The author intended to characterize Dio as unapologetically baleful in his pursuit of power, with his literal abandonment of his humanity reflecting his figurative and emotional one. Araki wanted his name to sound cool next to JoJo's, so he chose Dio, the Italian word for God.</p>
    </div>
    
    <div class="bgimg-2">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Abilities</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Above all else, Dio Brando is known for his cunning and careful consideration.It is when Jonathan Joestar defies his expectations, defeating him in battle and thwarting his deliberate machinations, that Dio dons the stone mask that grants him the power of a vampire. He attains superhuman speed, regeneration, and strength insofar as he can lift a road roller with ease - a frequent source of references to Dio in popular culture.
    
          As a vampire, he most frequently uses an exaggerated evaporated cooling form of freezing known simply as the Vaporative Freezing Technique (気化冷凍法 Kikareitōhō) that allows him to freeze his opponents while rendering direct attacks with Hamon useless. He can also graft body parts of different beings together, an ability he used to take Jonathan's body as his own.
          
          Once he returns 100 years later with the body of Jonathan Joestar, Dio lost many of the abilities he had in his original body. However, Dio's new zombified body enabled him to develop his signature Stand, The World (世界(ザ・ワールド) Za Wārudo). As a psychic manifestation of Dio, it has all of his aforementioned superhuman abilities and facilitates melee attacks, though its signature ability is to stop time. This time-stopping ability only lasts for a limited amount of time, though this limit can be extended through practice or through other means of increasing the user's strength (such as when Dio was able to increase his limit by several seconds after drinking Joseph Joestar's blood).</p>
      </div>
    </div>
    
    <div class="bgimg-3">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Battle Tendency</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Dio Brando does not appear in Battle Tendency, but the aftermath of his apparent death at the hands of Jonathan Joestar affects the plot. It is ultimately revealed that Jonathan and Erina's son George Joestar II, a famed pilot of the Royal Air Force in World War I, was murdered by one of Dio's zombie henchmen who survived the battle of Knight's Lot and had infiltrated the RAF. George II's wife, the orphaned girl Elizabeth, hunted down this zombie and killed him with her Hamon. But as no one in the RAF knew that her victim was not human, she became a wanted murderer, Elizabeth was forced to go into hiding as Lisa Lisa. Lisa Lisa would later encounter her son Joseph Joestar, teaching him Hamon so he can defeat the Pillar Man Kars whose creation of the Stone masks made him indirectly responsible for Dio's transformation.</p>
      </div>
    </div>
    
    <div class="bgimg-1">
      <div class="caption">
      <span class="border">MUDA MUDA MUDA!</span>
      </div>
    </div>
    </div>