{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Blog</a></li>
          <li class="breadcrumb-item active" aria-current="page">Latest Posts</li>
        </ol>
      </nav>
<main role="main">

        <section class="jumbotron text-center">
          <div class="container bg-primary p-4">
            <h1 class="jumbotron-heading">Welcome to Dio's Blog</h1>
          </div>

          
        </section>

        
        <div class="container">
            <div class="row">

                {% if blogs %}

                {% for blog in blogs %}

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                                <img style="width:20%;" class="img card-img-top" src="{{blog.image.url}}" alt="image">
                                
                                <hr>
                            <h1>{{blog.title}}</h1>
                            <p>{{blog.publish_date}}</p>
                        </div>
                        <div class="card-body">
                            <p>{{blog.summary}}...............................</p>
                            <a href="#" class="btn btn-success btn-sm">Read More</a>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% endif %}


            </div>
        </div>
      



</main>
{% endblock %}